.container {
  max-width: 1126px;
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap:  60px;
  margin: 120px auto 0;
  box-sizing: border-box;
}

.form {
  max-width: 480px;
  display: grid;
  justify-items: center;
	align-items: center;
  align-content: space-between;
}

.input_items {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  display: grid;
  gap: 24px;
}

.form_button_container {
  display: flex;
  justify-content: flex-end;
}

