.container {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.figure {
  max-width: 520px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.caption {
  text-align: center;
}

.list {
  max-width: 520px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 32px 0 60px 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.text {
  margin: 0;
}
